<div [formGroup]="formGroup">
<div class="bg-gray-600 w-full">
    <h2 class="uppercase font-bold text-white pl-2">Niveau d'étude</h2>
</div>
<div class="pt-4"></div>
<div class="flex flex-col gap-3">
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="etranger">
        Étranger
        <input *ngIf="formGroup.get('etranger')?.value" type="text"
        formControlName="etrangerTexte"
        class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="niveau3">
        Niveau 3 (CAP, BEP)
        <input *ngIf="formGroup.get('niveau3')?.value" type="text"
        formControlName="niveau3Texte"
        class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="niveau4">
        Niveau 4 (Baccalauréat)
        <input *ngIf="formGroup.get('niveau4')?.value" type="text"
        formControlName="niveau4Texte"
        class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="niveau5">
        Niveau 5 (DEUG, BTS, DUT, DEUST)
        <input *ngIf="formGroup.get('niveau5')?.value" type="text"
        formControlName="niveau5Texte"
        class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="niveau6">
        Niveau 6 (Maîtrise)
        <input *ngIf="formGroup.get('niveau6')?.value" type="text"
        formControlName="niveau6Texte"
        class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="niveau7">
        Niveau 7 (Master, diplôme d'étude approfondies, supérieures spécialisées, ingénieur)
        <input *ngIf="formGroup.get('niveau7')?.value" type="text"
        formControlName="niveau7Texte"
        class="w-130 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600"
        formControlName="niveau8">
        Niveau 8 (Doctorat, habilitation à diriger des recherches)
        <input *ngIf="formGroup.get('niveau8')?.value" type="text"
        formControlName="niveau8Texte"
        class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <div class="pb-4"></div>
</div>
</div>