<div [formGroup]="formGroup">
<div class="bg-gray-600 w-full">
    <h2 class="uppercase font-bold text-white pl-2">Projet permis de conduire</h2>
</div>
<div class="pt-4"></div>
<div class="flex flex-col gap-3">
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="aucun">
        Aucun
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisAnnule">
        Permis annulé (judiciaire)
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisInvalide">
        Permis invalidité (administratif)
    </label>

    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisSuspendu">
        Permis suspendu
    </label>

    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisBBoiteManu">
        Permis B boîte manuelle
    </label>

    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisBEABoiteAuto">
        Permis BEA boîte automatique
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisMoto">
        Permis moto
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisPOidsLourd">
        Permis poids lourd
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisSuperLourd">
        Permis super lourd
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="transportEnCommun">
        Transport en commun
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="etranger">
        Etranger (si non valide en France)
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisAM">
        Permis AM
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisASR">
        Permis ASR
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisASSR1">
        Permis ASSR 1
    </label>
    <p class="font-bold">Avance sur parcours permis :</p>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="jamaisInscrit">
        Jamais inscrit en auto-école
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="inscrit">
        Inscrit en auto-école :
        <input *ngIf="formGroup.get('inscrit')?.value" type="text"
        formControlName="inscritTexte"
        placeholder="Laquelle ?"
        class="w-90 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="demarcheEnCOurs">
        Démarches en cours
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="inscriptionValide">
        Inscription valide
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="preparationCode">
        Préparation code
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="codeValide">
        Code valide
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="preparationConduiteInconnu">
        Préparation conduite (estimation inconnue)
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="preparationConduite">
        Préparation conduite estimation :
        <input *ngIf="formGroup.get('preparationConduite')?.value" type="text"
        formControlName="preparationConduiteTexte"
        placeholder="Précisez..."
        class="w-90 border-b border-black px-2 py-1 text-sm outline-none">
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisEtrangerEnValidation">
        Permis étranger en cours de validation
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisProb">
        Permis probatoire
    </label>
    <label class="flex items-center gap-2">
        <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
        formControlName="permisValidé">
        Permis validé
    </label>
    <div class="pb-4"></div>
</div>
</div>