<div [formGroup]="formGroup">
    <div class="bg-gray-600 w-full">
        <h2 class="uppercase font-bold text-white pl-2">Status Mobilité</h2>
    </div>
    <div class="pt-4"></div>
    <div class="flex flex-col gap-3">
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="codeObtenu">
            Code obtenu
            <input *ngIf="formGroup.get('codeObtenu')?.value" type="text"
            formControlName="codeObtenuTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="finParcoursConduite">
            Fin de parcours conduite
            <input *ngIf="formGroup.get('finParcoursConduite')?.value" type="text"
            formControlName="finParcoursConduiteTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="permisEtranger">
            Permis étranger non valide
            <input *ngIf="formGroup.get('permisEtranger')?.value" type="text"
            formControlName="permisEtrangerTexte"
            class="w-180 border-b border-black px-2 py- text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="codeEnCours">
            Code en cours
            <input *ngIf="formGroup.get('codeEnCours')?.value" type="text"
            formControlName="codeEnCoursTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="permisB">
            Permis B
            <input *ngIf="formGroup.get('permisB')?.value" type="text"
            formControlName="permisBTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="permisAutre">
            Permis autres
            <input *ngIf="formGroup.get('permisAutre')?.value" type="text"
            formControlName="permisAutreTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <div class="pb-4"></div>
    </div>
</div>