<div [formGroup]="formGroup">
    <div class="bg-gray-600 w-full">
        <h2 class="uppercase font-bold text-white pl-2">Status Emploi</h2>
    </div>
    <div class="pt-4"></div>
    <div class="flex flex-col gap-3">
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="interimaire">
            Intérimaire
            <input *ngIf="formGroup.get('interimaire')?.value" type="text"
            formControlName="interimaireTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="cdd">
            CDD
            <input *ngIf="formGroup.get('cdd')?.value" type="text"
            formControlName="cddTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="cdi">
            CDI
            <input *ngIf="formGroup.get('cdi')?.value" type="text"
            formControlName="cdiTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="apprentissage">
            Apprentissage
            <input *ngIf="formGroup.get('apprentissage')?.value" type="text"
            formControlName="apprentissageTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="contratAide">
            Contrat aidé
            <input *ngIf="formGroup.get('contratAide')?.value" type="text"
            formControlName="contratAideTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" class="w-5 h-5 accent-blue-600 cursor-pointer"
            formControlName="serviceCivique">
            Service civique
            <input *ngIf="formGroup.get('serviceCivique')?.value" type="text"
            formControlName="serviceCiviqueTexte"
            class="w-180 border-b border-black px-2 py-1 text-sm outline-none">
        </label>
        <div class="pb-4"></div>
    </div>
</div>